# Prisma
# https://www.prisma.io/docs/reference/database-reference/connection-urls#env
DATABASE_URL="file:./db.sqlite"
# openssl rand -base64 48
NEXT_TELEGRAM_SECRET=
# https://core.telegram.org/bots#6-botfather
NEXT_TELEGRAM_TOKEN=
# lt --port 3000
NEXT_PUBLIC_VERCEL_URL=
# https://platform.openai.com/account/api-keys
NEXT_OPENAI_API_KEY=